body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas: "header header header header"
                         "main main main main"
                         "footer footer footer footer";
}

header{
    grid-area: header;
    display: grid;
    grid-template-areas: "img nav nav nav";
    align-items: center;
    
    ul{
        display: grid;
        grid-template-areas: "menu1 menu2 menu3 menu4";
        justify-content: space-around;      
    }      
}

.menu1{
    grid-area: menu1;    
}

.menu2{
    grid-area: menu2;
}

.menu3{
    grid-area: menu3;
}

.menu4{
    grid-area: menu4;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    
    ul{
        display: grid;
        grid-template-areas: "logo1 logo2 logo3 logo4";
        align-items: center;
        justify-content: space-evenly;
    }    
}

.logo1{
    grid-area: logo1;
}

.logo2{
    grid-area: logo2;
}

.logo3{
    grid-area: logo3;
}

.logo4{
    grid-area: logo4;
}