header{
    
    img{
        border-radius: 150px;
        margin: 20px 0 0 20px;
        width: auto;
    }

    li{
        list-style: none;
    }

    a{
        text-decoration: none;
        font-size: 2rem;
        color: black;        
    }
    
    a:visited{
        color: black;
    }
}